footer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    background-color: $secondary-color;
    .footer-nav-container{
        width: 50vw;
        ul{
            position: absolute;
            width: 50vw;
            background-color: $secondary-color;
            padding: 10px;
            list-style: none;
            box-sizing: border-box;
            a{
                color: $text-color;
                text-decoration: none;
                font-size: 1.2rem;
                font-family: "Space Mono", monospace;
            }
            li{
                margin-left: 1.2em;
                margin-bottom: 12px;
                background-color: $secondary-color;
            }
        }
    }
    .company-container-footer{
        width: 50vw;
        height: 220px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #b96204;
        font-size: 1.6rem;
        font-family: "Space Mono", monospace;
        padding: 10px;
        box-sizing: border-box;
        .img-container-footer{
            width: 50vw;
            img{
                float: right;
                width: 100px;
                height: 100px;
            }
        }
    }
    .copyright{
        width: 100vw;
        display: flex;
        justify-content: center;
        p{
            color: #b96204;
            font-family: "Space Mono", monospace;
        }
    }
}