.company-container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 0px 8px;
  background-color: #131417;
  height: 7vh;
  /* .hamburger-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 32px;
      .hamburger{
          display: block;
          background-color: $text-color;
          height: 3px;
          width: 2em;
          border-radius: 2px;
          position: relative;
      }
  } */
}
.company-container-header p {
  color: #f0f8ff;
  padding-left: 8px;
  font-family: "Space Mono", monospace;
}
.company-container-header label {
  margin-left: auto;
}

nav {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #131417;
}
nav a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
nav ul {
  padding: 10px;
  list-style: none;
}
nav ul li {
  margin-left: 1.2em;
  margin-bottom: 12px;
  background-color: #131417;
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle-label img {
  width: 40px;
  height: 40px;
}

.header-img {
  width: 40px;
  height: 40px;
}

main {
  width: 100%;
  min-height: 83vh;
}

.img-container {
  display: flex;
  justify-content: center;
  height: 83vh;
}
.img-container img {
  max-width: 100%;
}
.img-container .product-button {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 70%;
  left: 50%;
  width: 280px;
  height: 70px;
  transform: translate(-50%, -50%);
  background-color: #14213d;
  color: #f0f8ff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
}

.desc-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1f26;
  height: 10vh;
  width: 100vw;
  color: #f0f8ff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.desc-text p {
  width: 280px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #14213d;
}
footer .footer-nav-container {
  width: 50vw;
}
footer .footer-nav-container ul {
  position: absolute;
  width: 50vw;
  background-color: #14213d;
  padding: 10px;
  list-style: none;
  box-sizing: border-box;
}
footer .footer-nav-container ul a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
footer .footer-nav-container ul li {
  margin-left: 1.2em;
  margin-bottom: 12px;
  background-color: #14213d;
}
footer .company-container-footer {
  width: 50vw;
  height: 220px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #b96204;
  font-size: 1.6rem;
  font-family: "Space Mono", monospace;
  padding: 10px;
  box-sizing: border-box;
}
footer .company-container-footer .img-container-footer {
  width: 50vw;
}
footer .company-container-footer .img-container-footer img {
  float: right;
  width: 100px;
  height: 100px;
}

* {
  margin: 0;
  padding: 0;
}

.random {
  width: 100vw;
  height: 100vh;
  background-color: #1e1f26;
}/*# sourceMappingURL=styles.css.map */