$primary-color: #131417;
$secondary-color: #14213d;
$accent-color: #1e1f26;
$detail-color: #b96204;
$text-color: #f0f8ff;

@import "./header";
@import "./homepage";
@import "./about";
@import "./products";
@import "./references";
@import "./contact";
@import "./footer";

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

main{
    background-color: $accent-color;
}

.centering{
    display: flex;
    justify-content: center;
}

@media (min-width: 550px){
    main{
        min-height: 62vh;
    }
}