$primary-color: #131417;
$secondary-color: #14213d;
$accent-color: #1e1f26;
$text-color: #f0f8ff;

@import "./header";
@import "./homepage";
@import "./footer";

*{
    margin: 0;
    padding: 0;
}

.random{
    width: 100vw;
    height: 100vh;
    background-color: $accent-color;
}