.company-container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 0px 8px;
  background-color: #131417;
  height: 7vh;
}
.company-container-header p {
  color: #f0f8ff;
  padding-left: 8px;
  font-family: "Space Mono", monospace;
}
.company-container-header label {
  margin-left: auto;
}

nav {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #131417;
}
nav a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
nav ul {
  padding: 10px;
  list-style: none;
}
nav ul li {
  margin-left: 1.2em;
  margin-bottom: 12px;
  background-color: #131417;
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle-label img {
  width: 40px;
  height: 40px;
}

.header-img {
  width: 40px;
  height: 40px;
}

main {
  width: 100%;
  min-height: 83vh;
}

.img-container {
  display: flex;
  justify-content: center;
  height: 83vh;
}
.img-container img {
  max-width: 100%;
}
.img-container .product-button {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 70%;
  left: 50%;
  width: 280px;
  height: 70px;
  transform: translate(-50%, -50%);
  background-color: #14213d;
  color: #f0f8ff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
}

.desc-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1f26;
  height: 10vh;
  width: 100vw;
  color: #f0f8ff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.desc-text p {
  width: 280px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #14213d;
}
footer .footer-nav-container {
  width: 50vw;
}
footer .footer-nav-container ul {
  position: absolute;
  width: 50vw;
  background-color: #14213d;
  padding: 10px;
  list-style: none;
  box-sizing: border-box;
}
footer .footer-nav-container ul a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
footer .footer-nav-container ul li {
  margin-left: 1.2em;
  margin-bottom: 12px;
  background-color: #14213d;
}
footer .company-container-footer {
  width: 50vw;
  height: 220px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #b96204;
  font-size: 1.6rem;
  font-family: "Space Mono", monospace;
  padding: 10px;
  box-sizing: border-box;
}
footer .company-container-footer .img-container-footer {
  width: 50vw;
}
footer .company-container-footer .img-container-footer img {
  float: right;
  width: 100px;
  height: 100px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #1e1f26;
}

.btn-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.btn-container .btn-wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.btn-container .btn-wrapper a {
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
  text-decoration: none;
  padding: 4px 16px 4px 16px;
  border-style: solid;
  border-radius: 24px;
  font-size: 20px;
}

.heading-container {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #f0f8ff;
}
.heading-container h2 {
  width: 280px;
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
}

.centering {
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  gap: 16px;
  width: 280px;
  margin-bottom: 16px;
}
.product-container .card-container {
  width: 280px;
  background-color: #14213d;
  border-radius: 8px;
  /* border: 2px solid $text-color; */
  box-sizing: border-box;
}
.product-container .card-container img {
  width: 280px;
  height: 280px;
  border-radius: 8px 8px 0px 0px;
}
.product-container .card-container .text-container {
  display: flex;
  justify-content: space-between;
  color: #f0f8ff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 8px;
}
.product-container .card-container button {
  width: 260px;
  height: 50px;
  margin: 8px;
  border-radius: 24px;
  border-style: none;
  background-color: #b96204;
  color: #f0f8ff;
  font-size: 32px;
  font-family: "Space Mono", monospace;
}
.product-container .card-container p {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
  font-size: 12px;
  margin-left: 2px;
}/*# sourceMappingURL=styles.css.map */