.company-container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 0px 8px;
  background-color: #131417;
  height: 7vh;
}
.company-container-header h1 {
  color: #f0f8ff;
  padding-left: 8px;
  font-size: 14px;
  font-family: "Space Mono", monospace;
}
.company-container-header .desktop-nav {
  display: none;
}
.company-container-header label {
  margin-left: auto;
}

nav {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #131417;
}
nav a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
nav ul {
  padding: 10px;
  list-style: none;
}
nav ul li {
  margin-left: 1.2em;
  margin-bottom: 12px;
  background-color: #131417;
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle-label img {
  width: 40px;
  height: 40px;
}

.header-img {
  width: 40px;
  height: 40px;
}

@media (min-width: 550px) {
  .company-container-header {
    height: 12vh;
  }
  .company-container-header label {
    display: none;
  }
  .company-container-header h1 {
    font-size: 1.8rem;
  }
  .company-container-header .desktop-nav {
    margin-left: auto;
    width: 70vw;
    display: block;
  }
  .company-container-header .desktop-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  .company-container-header .desktop-nav ul a {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
    text-decoration: none;
    color: #f0f8ff;
  }
  .company-container-header .desktop-nav ul a:hover {
    color: #b96204;
  }
  .header-img {
    width: 70px;
    height: 70px;
  }
}
.img-container {
  display: flex;
  justify-content: center;
  height: 83vh;
}
.img-container img {
  width: 100%;
}
.img-container .product-button {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 70%;
  left: 50%;
  width: 280px;
  height: 70px;
  transform: translate(-50%, -50%);
  background-color: #14213d;
  color: #f0f8ff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
}

.desc-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1f26;
  height: 10vh;
  width: 100vw;
  color: #f0f8ff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.desc-text p {
  width: 280px;
}

.desktop-text {
  display: none;
}

@media (min-width: 550px) {
  .img-container {
    justify-content: space-between;
  }
  .img-container img {
    width: 55%;
    height: 90%;
    margin: auto 0px auto 24px;
  }
  .img-container .button-text-container {
    margin-right: 182px;
    max-width: 500px;
  }
  .img-container .desktop-text {
    display: block;
    margin-right: auto;
    color: #f0f8ff;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .img-container .product-button {
    position: relative;
    background-color: #b96204;
    width: 300px;
    height: 100px;
    font-size: 1.6rem;
  }
  .desc-text {
    display: none;
  }
}
.history-text {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-text p {
  width: 280px;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: #f0f8ff;
}

.catchphrase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #131417;
  margin-bottom: 12px;
}
.catchphrase p {
  color: #f0f8ff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.employee-heading-container {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #f0f8ff;
  margin-bottom: 12px;
}
.employee-heading-container h2 {
  width: 280px;
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
}

.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employee-container .employee-card {
  width: 250px;
  height: 410px;
  border-style: solid;
  margin-bottom: 12px;
  background-color: #14213d;
}
.employee-container .employee-text {
  display: flex;
  flex-direction: column;
  color: #f0f8ff;
}
.employee-container .employee-text h3, .employee-container .employee-text h4, .employee-container .employee-text h5 {
  font-family: "Space Mono", monospace;
  margin: 0px 0px 8px 8px;
}
.employee-container .employee-text p {
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  margin: 0px 0px 8px 8px;
}

@media (min-width: 550px) {
  .history-text {
    justify-content: flex-start;
    height: 170px;
  }
  .history-text p {
    margin: 0px 55px 0px 55px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.5rem;
  }
  .catchphrase {
    justify-content: flex-start;
  }
  .catchphrase p {
    margin-left: 55px;
    font-size: 2rem;
  }
  .employee-container {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 40px;
  }
  .employee-heading-container {
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .employee-heading-container h2 {
    margin-left: 55px;
  }
}
.products-desc-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1f26;
  height: 10vh;
  width: 100vw;
  color: #f0f8ff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.products-desc-text p {
  width: 280px;
}

.btn-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.btn-container .btn-wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.btn-container .btn-wrapper a {
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
  text-decoration: none;
  padding: 4px 16px 4px 16px;
  border-style: solid;
  border-radius: 24px;
  font-size: 20px;
}

.product-heading-container {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #f0f8ff;
}
.product-heading-container h2 {
  width: 280px;
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  gap: 16px;
  padding-bottom: 16px;
}
.product-container .card-container {
  width: 280px;
  background-color: #14213d;
  border-radius: 8px;
  box-sizing: border-box;
}
.product-container .card-container img {
  width: 280px;
  height: 280px;
  border-radius: 8px 8px 0px 0px;
}
.product-container .card-container .text-container {
  display: flex;
  justify-content: space-between;
  color: #f0f8ff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 8px;
}
.product-container .card-container button {
  width: 260px;
  height: 50px;
  margin: 8px;
  border-radius: 24px;
  border-style: none;
  background-color: #b96204;
  color: #f0f8ff;
  font-size: 32px;
  font-family: "Space Mono", monospace;
}
.product-container .card-container p {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
  font-size: 16px;
  margin-left: 2px;
}

@media (min-width: 550px) {
  .products-desc-text {
    justify-content: flex-start;
  }
  .products-desc-text p {
    margin-left: 55px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.6rem;
  }
  .btn-container {
    display: none;
  }
  .product-container {
    flex-direction: row;
    justify-content: center;
  }
  .product-heading-container {
    justify-content: flex-start;
  }
  .product-heading-container h2 {
    margin-left: 55px;
  }
}
.reference-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0px 12px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.reference-container .reference {
  padding: 8px 0px 8px 8px;
  margin: 12px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: #14213d;
  color: #f0f8ff;
  display: flex;
  justify-content: space-between;
}
.reference-container .reference .flex-group-left {
  width: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.reference-container .reference .flex-group-left img {
  max-width: 50px;
  max-height: 50px;
}
.reference-container .reference .flex-group-left p {
  font-family: "Raleway", sans-serif;
}
.reference-container .reference .flex-group-right {
  width: 240px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reference-container .reference .flex-group-right h2 {
  font-family: "Space Mono", monospace;
}
.reference-container .reference .flex-group-right p {
  font-family: "Raleway", sans-serif;
}

@media (min-width: 550px) {
  .reference-container {
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.office-location {
  margin-top: 12px;
  width: 300px;
  height: 250px;
}
.office-location img {
  width: 300px;
  height: 200px;
}
.office-location p {
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
}

.contact {
  margin-top: 28px;
  width: 300px;
}
.contact p {
  font-family: "Space Mono", monospace;
  color: #f0f8ff;
}
.contact input {
  font-family: "Raleway", sans-serif;
  border: none;
  height: 20px;
  width: 100%;
  margin-bottom: 12px;
}
.contact select {
  font-family: "Space Mono", monospace;
  color: black;
  border: none;
  height: 20px;
  width: 100%;
  margin-bottom: 12px;
}
.contact textarea {
  margin-top: 12px;
  font-family: "Raleway", sans-serif;
  resize: none;
  width: 100%;
  height: 200px;
  border: none;
}
.contact button {
  width: 100%;
  margin: 12px 0px 12px 0px;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  border-radius: 16px;
}

@media (min-width: 550px) {
  .contact-container {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
  .office-location {
    width: 400px;
    height: 350px;
  }
  .office-location img {
    width: 400px;
    height: 350px;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #14213d;
}
footer .footer-nav-container {
  width: 50vw;
}
footer .footer-nav-container ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50vw;
  background-color: #14213d;
  padding: 10px;
  list-style: none;
  box-sizing: border-box;
}
footer .footer-nav-container ul a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
}
footer .footer-nav-container ul li {
  margin-left: 1.2em;
  margin-bottom: 12px;
  background-color: #14213d;
}
footer .company-container-footer {
  width: 50vw;
  height: 220px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #b96204;
  font-size: 1.6rem;
  font-family: "Space Mono", monospace;
  padding: 10px;
  box-sizing: border-box;
}
footer .company-container-footer .img-container-footer {
  width: 50vw;
}
footer .company-container-footer .img-container-footer img {
  float: right;
  width: 100px;
  height: 100px;
}
footer .copyright {
  width: 100vw;
  display: flex;
  justify-content: center;
}
footer .copyright p {
  color: #b96204;
  font-family: "Space Mono", monospace;
}

@media (min-width: 550px) {
  footer .footer-nav-container {
    width: 90vw;
  }
  footer .footer-nav-container ul {
    margin-top: 90px;
    width: 90vw;
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer .footer-nav-container ul a {
    font-size: 2rem;
  }
  footer .footer-nav-container ul a:hover {
    color: #b96204;
  }
  footer .company-container-footer {
    width: 10vw;
  }
  footer .copyright {
    justify-content: flex-end;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #1e1f26;
}

@media (min-width: 550px) {
  main {
    min-height: 62vh;
  }
}/*# sourceMappingURL=styles.css.map */